body {  
  color: black; 
  background-color: white; 
  font-family: Arial, sans-serif; 
  padding-top: 100px;
  width: 100%;
  height: 100%;
}
video { 
  border: 1px solid black;
  padding: 0; margin: 0;
  width: 427px;
  height: 240px;
  background-color: black;
  margin: auto; display: block;
  margin-left: 10px;
}

.content {
  width: 610px;
  height: 420px;
  margin: auto;
  border: 1px solid #dddddd;
  background-color: ghostWhite;
}

.main {
  padding-top: 80px;

}

.menu {
  width: 160px;
  float:left;
  background-color: #F1F1F7;
  border-right: 1px solid #dddddd;
}

.menu-item {
  width: 150px;
  height: 30px;
  text-align: center;
  margin: 2px;
  margin-left: 10px;

}

.menu-item button {
  margin: auto;
  float: left;
}